version: '3.4'
services:
  db:
    container_name: ${APPLICATION_NAME}_${SCOPE}_db
    image: mariadb:jammy
    volumes:
      - ./scripts/db.sql:/docker-entrypoint-initdb.d/db.sql
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${APPLICATION_NAME}_${SCOPE}_db
    ports:
      - ${DB_PORT}:${DB_PORT}
    restart: always
    healthcheck:
      test: "mariadb --host=localhost --user=${APPLICATION_NAME}_R --password=${DB_ROOT_PASSWORD} -e 'SELECT 1;'"
      interval: 1s
      retries: 120
  api:
    depends_on:
      db:
        condition: service_healthy
    container_name: ${APPLICATION_NAME}_${SCOPE}_api
    image: ${REPOSITORY}/${APPLICATION_NAME}_project:${SCOPE}
    environment:
      CONFIG_DIR: /app
      SCOPE: ${SCOPE}
      PORT: ${APP_PORT}
      GIN_MODE: release
    build:
      context: .
      args:
        - SCOPE=${SCOPE}
      dockerfile: ./Dockerfile
    ports:
      - ${APP_PORT}:${APP_PORT}
    restart: always